<div class="main-text">
  <span>Latest Releases</span>
</div>
<ng-container *ngIf="paginatorInfo$ | async as paginatorInfo">
  <div class="container1" *ngIf="moviesPost$ | async as moviesPost">
    <div class="movies" *ngFor="let movies of moviesPost |
       paginate: {itemsPerPage: 20, currentPage: paginatorInfo.page, totalItems: paginatorInfo.totalResults}; let i = index ">
      <img src="{{moviesPhotoUrl}}{{movies.backdrop_path}}" alt="" (click)="showDetailInfo(movies.id)">
    </div>
  </div>
  <pagination-controls (pageChange)="pageChanged($event)"
                       previousLabel="Prev"
                       nextLabel="Next"
  ></pagination-controls>
</ng-container>
